http {
	server {
		listen 80;
		listen 443 ssl;
		server_name ${DOMAIN};
		ssl_certificate ${DOMAIN}/fullchain1.pem;
		ssl_certificate_key ${DOMAIN}/privkey1.pem;
		ssl_protocols       TLSv1 TLSv1.1 TLSv1.2 TLSv1.3;
		location / {
			proxy_pass http://${APP_IP}:${APP_PORT};
		}
	}
}
events {
	worker_connections 768;
	# multi_accept on;
}

